@model LTWeb05_Bai02.ViewModels.SanPham_Loai_ViewModel
@{
    ViewBag.Title = "SanPham_Loai";
}

<h2>SanPham_Loai</h2>
<p>Mã Loại: @Model.LoaiSP.Loai</p>
<p>Tên Loại: @Model.LoaiSP.TenLoai </p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Đường dẫn</th>
            <th>Đơn giá</th>
            <th>Mô tả</th>
        </tr>
    </thead>
    @foreach (var item in Model.DSSP)
    {
        <tr>
            <td>@Html.DisplayFor(itemModel => item.MaSP)</td>
            <td>@Html.DisplayFor(itemModel => item.TenSP)</td>
            <td>@Html.DisplayFor(itemModel => item.DuongDan)</td>
            <td>@Html.DisplayFor(itemModel => item.Gia)</td>
            <td>@Html.DisplayFor(itemModel => item.MoTa)</td>

        </tr>
    }
</table>
